.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(58,189,178);
}

.logo3 {
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.button {
    color: white !important;
}