@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

body 
{
    background-color: #3ABDB2;
}

p
{
    font-family: 'Baloo 2', cursive;
}

.logo2 
{
    color: white;
    font-size: 70px;
    margin-bottom: 50px;
}

.login2
{
    color: white;
    font-size: 50px;
}

.or
{
    color: white;
    font-family: 'Baloo 2', cursive;
    font-size: 50px;
}
