.nav {
    position: relative;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.5);
    top: 77vh;
}

.home-icon {
    margin-top: -5px;
    color: #3ABDB2;
    text-decoration: none;
}

.home {
    margin-top: -5px;
    font-size: 20px;
    color: #3ABDB2;
    text-decoration: none;
}

.event-icon {
    margin-top: -5px;
    text-decoration: none;
}

.event {
    margin-top: -5px;
    font-size: 20px;
    text-decoration: none;
}